<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="DukeLupus.txt2html.UI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
    </startup>
    <userSettings>
        <DukeLupus.txt2html.UI.Properties.Settings>
            <setting name="FixBold" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FixItalic" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseCustomCss" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MinimumLineLength" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="CreateEntities" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CssFile" serializeAs="String">
                <value />
            </setting>
            <setting name="DetectUrls" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FixParagraphs" serializeAs="String">
                <value>True</value>
            </setting>
        </DukeLupus.txt2html.UI.Properties.Settings>
    </userSettings>
</configuration>
